<!DOCTYPE html>
    <head>
        <title>Responsive Footer Design Using Html Css</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="footer.component.css">
    </head>

<div class="footer">
    <footer>
        <div class="container">
            <div class="sec aboutus">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet c
                    onsectetur adipisicing elit
                    . Iure itaque officiis dolore
                     a debitis autem delectus at inci
                     m accusamus, sequi culpa odio ullam 
                     voluptates ab necessitatibus eveniet.</p>
                     <ul class="sci">
                        <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
            </div> 
            <div class="sec quickLinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FaQ</a></li>
                    <li><a href="#">Privacy Politicy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="sec contact">
                <h2>contact Info</h2>
                <ul class="info">
                
                    <li>
                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <p>
                                <a href="#">55555555</a>
                                <a href="#">55555555</a>
                            </p>
                        <li>
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <p><a href="#">extrahandhomeservices@gmail.com</a></p>
                        </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>
            © Copyright ExtraHand  All Rights Reserved. 
        </p>
    </div>
</div>