
<div id="flat_nav_breadcrumb">
  <a href="#">Home</a>
  <a href="/vendor-details">Vendor Description</a>
  <a href="/payment">Payment</a>

</div>


<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-center pb-5">
            <div class="col-md-7 col-xl-5 mb-4 mb-md-0">
              <div class="py-4 d-flex flex-row">
                <h5><span class="far fa-check-square pe-2"></span><b>RAZORPAY</b> </h5>
                 <span class="ps-2">Pay</span> 
              </div>
              <h4 class="text-success"></h4>
              <h4>Plumbing Services</h4>
              <div class="d-flex pt-2">
                <div>
                  <p>
                    <b>SERVICE PRICE <span class="text-success">₹{{serviceBasePrice}}</span></b>
                  </p>
                </div>
                <div class="ms-auto">
                  
                </div>
              </div>
              <p>
                
              </p> 
              
              <hr />
              <div class="pt-2">
                <div class="d-flex pb-2">
                  <div>
                    <p>
                      <b>Labour <span class="text-success">₹{{labourCost}}</span></b>
                    </p>
                  </div> 
                  
                </div>  
                
                <!-- <form class="pb-3">
                  <div class="d-flex flex-row pb-3">
                    <div class="d-flex align-items-center pe-2">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1"
                        value="" aria-label="..." checked />
                    </div>
                    <div class="rounded border d-flex w-100 p-3 align-items-center">
                      <p class="mb-0">
                        <i class="fab fa-cc-visa fa-lg text-primary pe-2"></i>Visa Debit
                        Card
                      </p>
                      <div class="ms-auto">************3456</div>
                    </div>
                  </div>
  
                  <div class="d-flex flex-row">
                    <div class="d-flex align-items-center pe-2">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2"
                        value="" aria-label="..." />
                    </div>
                    <div class="rounded border d-flex w-100 p-3 align-items-center">
                      <p class="mb-0">
                        <i class="fab fa-cc-mastercard fa-lg text-dark pe-2"></i>Mastercard
                        Office
                      </p>
                      <div class="ms-auto">************1038</div>
                    </div>
                  </div>
                </form> -->
                <button type="button" value="Proceed to payment" (click)="onSubmit()" (click)="appointmentBooking()" class="btn btn-primary btn-block btn-lg" >Proceed to payment</button>
                <!-- <button class="btn btn-primary btn-block btn-lg" (onclick)="onSubmit()">Proceed to payment</button> -->
                </div>
            </div>
  
            <div class="col-md-5 col-xl-4 offset-xl-1">
              <div class="py-4 d-flex justify-content-end">
                <h6><a routerLink="/transactionhistory">View Transaction History</a></h6>
              </div>
              <div class="rounded d-flex flex-column p-2" style="background-color: #f8f9fa;">
                <div class="p-2 me-3">
                  <h4>Service Bill </h4>
                </div>
                <div class="p-2 d-flex">
                  <div class="col-8">ServicePrice</div>
                  <div class="ms-auto">{{serviceBasePrice}}</div>
                </div>
                <!-- <div class="p-2 d-flex">
                  <div class="col-8">Fitting charges</div>
                  <div class="ms-auto">₹0.00</div>
                </div> -->
                <div class="p-2 d-flex">
                  <div class="col-8">Labour</div>
                  <div class="ms-auto">+₹{{labourCost}}</div>
                </div>
                <div class="p-2 d-flex">
                  <div class="col-8">Discount</div>
                  <div class="ms-auto">- ₹{{discount}}</div>
                </div>
                <div class="border-top px-2 mx-2"></div>  
                <!-- <div class="p-2 d-flex pt-3">
                  <div class="col-8">Total Deductible, Coinsurance, and Copay</div>
                  <div class="ms-auto">₹40.00</div>
                </div>
                <div class="p-2 d-flex">
                  <div class="col-8">
                    Maximum out-of-pocket on Insurance Policy (not reached)
                  </div>
                  <div class="ms-auto">₹6500.00</div>
                </div> -->
                <div class="border-top px-2 mx-2"></div>
                <div class="p-2 d-flex pt-3">
                  <div class="col-8">SGST 9% <span class="fa fa-question-circle text-dark"></span></div>
                  <div class="ms-auto"><b>₹{{sGst}}</b></div>
                </div>
                <div class="p-2 d-flex">
                  <div class="col-8">
                    CGST 9% <span class="fa fa-question-circle text-dark"></span>
                  </div>
                  <div class="ms-auto"><b>₹{{cGst}}</b></div>
                </div>
                <div class="border-top px-2 mx-2"></div>
                <div class="p-2 d-flex pt-3">
                  <div class="col-8"><b>Total</b></div>
                  <div class="ms-auto"><b class="text-success">₹{{totalAmount}}</b></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 




